name: Docker CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build -t devops-docker-demo .

      - name: Run container
        run: |
          docker run -d -p 8000:8000 --name test-container devops-docker-demo
          sleep 5

      - name: Test HTTP endpoint
        run: |
          curl --fail http://localhost:8000 | grep "Hello from a Docker container!"

      - name: Stop container
        if: always()
        run: docker stop test-container
